
<div class="page row" id="main">
  <div id="slider">
    <ul>
      <li>
        <div class="element-wrapper"></div>
      </li>
      <li>
        <div class="element-wrapper"></div>
      </li>
      <li>
        <div class="element-wrapper"></div>
      </li>
      <li>
        <div class="element-wrapper"></div>
      </li>
      <li>
        <div class="element-wrapper"></div>
      </li>
    </ul>
  </div>
</div>
<div class="page row" id="services">
  <div class="divider"></div>
  <div id="servicesWrapper">
    <div class="row">
      <div class="col-md-offset-2 col-md-2 block"></div>
      <div class="col-md-offset-1 col-md-2 block"></div>
      <div class="col-md-offset-1 col-md-2 block"></div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-2 block"></div>
      <div class="col-md-offset-1 col-md-2 block"></div>
      <div class="col-md-offset-1 col-md-2 block"></div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-2 block"></div>
      <div class="col-md-offset-1 col-md-2 block"></div>
      <div class="col-md-offset-1 col-md-2 block"></div>
    </div>
  </div>
</div>
<div class="page row" id="tour">
  <div class="content-wrapper col-md-offset-2 col-md-9">
    <div id="tourWrapper" class="col-md-7"><a href="" id="tourLink">Go</a></div>
    <div class="info col-md-4" id="tourInfo">
      <h1>3D-тур</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint oc- caecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<div class="page row" id="contacts"></div>

