$c-main-dark: rgb(80, 48, 47);
$c-main-light: rgb(221, 193, 179);
$c-grayish-creme: rgb(206, 191, 180);
$c-brown: rgb(144,79,69);
$c-text-main: rgb(255,255,255);
$c-white: rgb(255, 255, 255);
$transition: 300ms;
$button-size : 3.5rem;
