<footer id="footer">
  <div class="row">
    <div class="col-md-offset-2 col-md-2 block">
      <p>СПА Студио<br>
        просп. Героев Сталинграда 10а, корп. 4
      </p>
    </div>
    <div class="col-md-2 block">
      <p class="phone-number">+38 044 230 8930<br>+38 067 889 2496</p>
      <p class="email">spastudio.ua@gmail.com</p>
    </div>
    <div class="col-md-2 block">
      <p class="working-hours">
        Время работы:<br>9:00 – 21:00<br>Без выходных
      </p>
    </div>
    <div class="col-md-2 block" id="footer-social">
      <a href="https://www.instagram.com/spa_studio_/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.facebook.com/spastudio/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>
