<header class="navbar navbar-default navbar-fixed-top" id="header">
  <div class="container-fluid">
    <div id="logo"><p>LOGO</p></div>
    <div class='nav-links'>
      <ul class="nav">
        <li class="active"><a href='' data-target='main'>Главная</a></li>
        <li><a href='' data-target='services'>Услуги</a></li>
        <li><a href='' data-target='tour'>3D-тур</a></li>
        <li><a href='' data-target='contacts'>Контакты</a></li>
      </ul>
    </div>
    <div class="contacts">
      <p class="phone-number">+38 044 230 8930</p>
      <p class="phone-number">+38 067 889 2496</p>
    </div>
    <div class="social">
      <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
  </div>
</header>
